{% extends "global/base.html" %}
    
{% block content %}
    <div class="sobre">
        <h1>Sobre Mim</h1>
     </div> 
    <div class="textosobre">
        <h3>André Luís nasceu e cresceu na pacata cidade de Jiquiriçá, localizada no estado da Bahia, Brasil. Desde cedo, demonstrou interesse em tecnologia e ciência, alimentando uma curiosidade insaciável pelo funcionamento dos computadores e pelo mundo digital.<br>

            Durante seus anos de ensino médio, André ingressou no Instituto Federal de Educação, Ciência e Tecnologia (IF) em Santa Inês, onde se dedicou ao curso técnico de Agropecuária. Apesar do foco principal do curso, ele encontrou oportunidades para explorar sua paixão pela tecnologia, mergulhando em disciplinas relacionadas à informática e à programação.<br><br>
            
            Após concluir o ensino médio, André decidiu seguir sua paixão pela tecnologia e ingressou na faculdade de Engenharia da Computação. Optou por morar em Cruz, onde encontrou um ambiente propício para seus estudos e crescimento pessoal. Lá, ele se viu imerso em um mundo de possibilidades, desde aulas teóricas até projetos práticos que desafiavam suas habilidades técnicas.<br><br>
            
            Durante sua jornada acadêmica, André descobriu a linguagem de programação Python e a framework Django, que o encantaram imediatamente. Ele mergulhou de cabeça no estudo dessas ferramentas, explorando suas capacidades e aplicando seus conhecimentos em projetos pessoais e acadêmicos. Além disso, ele também se dedicou ao aprendizado de HTML e CSS, habilidades essenciais para complementar seu conhecimento em desenvolvimento web.<br><br>
            
            Atualmente, André Luís está focado em sua formação acadêmica e em aprimorar suas habilidades em programação. Seu objetivo é tornar-se um desenvolvedor web altamente qualificado, capaz de criar soluções inovadoras e impactantes para os desafios do mundo digital. Com determinação e paixão pelo que faz, ele está pronto para enfrentar os desafios que o futuro reserva.</h3>
    </div>
{% endblock content %}