<footer>
    <div class="container-footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Sobre Nós</h3>
                <p>Isso aqui é uma plataforma de sorteio, futuramente traremos atualizações.</p>
            </div>
            <div class="footer-section links">
                <h3>Links Rápidos</h3>
                <ul>
                    <li><a href="{% url "sorteio:pagina_inicial" %}">Início</a></li>
                    <li><a href="{% url "sorteio:sobre_mim" %}"">Sobre mim</a></li>
                    <li><a href="#"">Assinatura</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Conecte-se Conosco</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
                <ul>
                    <li><a href="https://github.com/andreluisx"  target="_blank"><i id="icon-1" class="fab fa-github"></i>andreluisx</a></li>
                    <li><a href="https://discord.gg/mJSX6RRk" target="_blank"><i id="icon-2" class="fab fa-discord">andreluiss</i></a></li>
                    <li><a href="https://www.instagram.com/andre_luissx/" target="_blank"><i id="icon-3" class="fab fa-instagram"></i>andre_luissx</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>